/* CSS da Home Page */
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(brick-wall-dark.png);
    color: whitesmoke;
}

.logo-header, .logo-footer {
    width: 100%;
}

h1, h2, h3 {
    font-weight: bold;
    text-transform: uppercase;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: -70px;
    left: -60px;
}

nav li {
    display: inline;
    margin: 0 0 0 200px;
}

nav a {
    text-transform: uppercase;
    color: rgb(253, 253, 164);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

.titulo-subtitulo {
    font-size: 30px;
    margin: 30px 0 80px 0;
    text-align: center;
}

.subtitulo {
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0 30px 0;
    color: rgb(253, 253, 164);
}

.titulo-subtitulo em {
    font-size: 20px;
    font-style: italic;
}

.principal h2 {
    font-size: 20px;
    font-weight: bold;
    width: 940px;
    margin: 0 0 0 50px;
    color: rgb(253, 253, 164);
}

.principal p {
    font-size: 20px;
    width: 940px;
    margin: 30px 0 0 50px;
    line-height: 1.5;
}

.conteudo-beneficios {
    font-size: 20px;
    width: 940px;
    margin: 0 50px;
}

.itens {
    line-height: 1.5;
}

.itens:before {
    content: "✂ ";
    color: rgb(253, 253, 164);
}

.lista-beneficios {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.imagem-beneficios {
    width: 50%;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
}

table {
    text-align: center;
    background: rgb(44, 30, 8);
    margin: 0 auto;
    width: 40%;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
}

.titulo-table {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    margin: 80px 0 50px;
    color: rgb(253, 253, 164);
}

thead {
    text-align: center;
    background: #000000;
    color: rgb(253, 253, 164);
    font-weight: bold;
}

td, th {
    border: 2px solid rgb(253, 253, 164);
    color: white;
    padding: 10px 10px;
    font-size: 20px;
}

thead th, .localizacao strong, .profissionais strong {
    color: rgb(253, 253, 164);
}

tr:nth-child(even) {
    background: #000000;
}

.atalho-contato {
    text-align: center;
    margin: 80px 0 0;
}

.atalho-contato a {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    border: 10px solid rgb(253, 253, 164);
    border-radius: 3%;
    background: rgb(253, 253, 164);
    transition: 400ms all;
}

.atalho-contato a:hover {
    background: rgb(183, 141, 27);
    border-color: rgb(183, 141, 27);
    border: 12px solid rgb(183, 141, 27);
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.localizacao {
    font-size: 20px;
    margin: 80px 0 50px 50px;
    line-height: 1.5;
}

.mapa-localizacao {
    width: 940px;
    margin: 60px auto;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
}

.profissionais {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 50px 50px;
}

.lista-nome {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-weight: bold;
    color: #cfb54f;
}

.david-gustavo, .lucas-ramon {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 50px 0 10px 0; 
}

.imagem-david, .imagem-gustavo, .imagem-lucas, .imagem-ramon {
    width: 25%;
    border: 2px solid #000000;
    border-radius: 100%;
    filter: grayscale(80%);
    transition: 600ms;
}

.imagem-david:hover, .imagem-gustavo:hover, .imagem-lucas:hover, .imagem-ramon:hover {
    filter: grayscale(0%);
}

.imagens-servicos {
    display:flex;
    width: 100%;
    justify-content: space-around;
}

.imagem-barba, .imagem-corte {
    width: 40%;
    margin: 0 0 80px 0;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
}

.copyright {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 20px 0;
}

.agradecimento {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: rgb(253, 253, 164);
    font-size: 20px;
    margin: 0 0 20px 0;
}

/* CSS da página Serviços */

.menu-servicos {
    margin: 120px auto;
    padding: 5% 0;
    width: 50%;
    border: 40px rgb(11, 11, 11);
    border-style: groove;
    background-color:rgb(255, 255, 255);
    box-shadow: 20px 20px 20px 0 rgba(0,0,0,0.5);
}

.titulo-servicos, .servico-corte {
    text-align: center;
    font-size: 22px;
    color: black;
    font-weight: bold;
    margin: 50px 0 0 0;
}

.descricao-corte {
    text-align: center;
    font-size: 20px;
    color: #000000;
    margin: 5px 0 80px 0;
    padding: 0 20%;
}

/* CSS da página Contato */

form {
    margin: 30px 0 0 80px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px 0;
    color: rgb(253, 253, 164);
}

.apresentacao-contato h2 {
    font-size: 20px;
    margin: 0 0 30px 80px;
    color: rgb(253, 253, 164);
}

.apresentacao-contato p {
    font-size: 20px;
    margin: 20px 0 60px 80px;
}

.input-padrao {
    display: block;
    margin: 0 0 50px;
    padding: 10px 20px;
    width: 50%;
    font-size: 18px;
    text-align: left;
}

#mensagem::-webkit-input-placeholder {
    font-size: 18px;
    font-style: italic;
}

.input-agenda {
    margin: 50px 0 20px 0;
}

.input-agenda em {
    text-decoration: underline;
}

.input-agenda input {
    padding: 10px;
    font-size: 20px;
    margin: 0 0 30px;
    cursor: pointer;
}

.enviar {
    width: 22%;
    padding: 10px;
    background: #cfb54f;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: #c2a220;
    color: #ffffff;
    transform: scale(1.1);
}

.informativo {
    font-size: 20px;
    padding: 0 80px;
    margin: 50px 0;
    text-align: justify;
    width: 0 auto;
    line-height: 1.2;
}

.informativo strong {
    text-transform: uppercase;
    color: #cfb54f;
}

.oak-contato {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin: 60px 0;
}

.oak-contato p::first-letter, .oak-contato h3 {
    color: #cfb54f;
}

@media screen and (max-width: 480px) {
    .caixa, .conteudo-beneficios, .mapa-localizacao, .principal h2, .principal p, .lista-beneficios, table, .menu-servicos{
        width: auto;
    }

    .caixa {
        text-align: center;
    }

    .titulo-subtitulo, .principal h2, .titulo-table, h1, h2, h3, .menu-servicos, .servico-corte, label {
        font-size: 20px;
    }

    .subtitulo, p, .titulo-subtitulo em, nav a, td, th, .localizacao, .descricao-corte, .lista-beneficios, .input-padrao, .apresentacao-contato p {
        font-size: 15px;
    }

    .imagem-beneficios, .imagens-servicos {
        width: 100%;
        margin: 50px auto;
    }

    nav {
        position: static;
        width: 0 auto;
    }

    nav li {
        margin: 0 auto;
        padding: 20px;
    }

    .localizacao, .profissionais {
        margin: 50px 30px 0;
    }

    .menu-servicos {
        margin: 0 20px 0;
    }

    input, form, .apresentacao-contato p {
        margin: 0 0 30px 20px;
    }

    .input-padrao {
        width: 80%;
        margin: 0 0 20px 0;
    }

    #mensagem::-webkit-input-placeholder, .agradecimento {
        font-size: 13px;
    }    

    .radio-menu legend {
        margin: 0 0 30px 0;
    }

    .input-agenda {
        margin: 0 auto;
    }

    .enviar {
        width: 80%;
        font-size: 15px;
    }

    .informativo {
        padding: 0 20px;  
    }
}